* {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
}

body {
  background-color: rgb(220, 220, 220);
  font-family: "Quicksand", sans-serif;
}

.bg-color {
  background-color: #30323d;
}

#lr-container {
  width: auto;
}
@media only screen and (max-width: 576px) {
  #lr-container {
    width: 100%;
    padding: 0 1rem !important;
  }
}

.mobile-number-input {
  width: 25%;
}
@media only screen and (max-width: 768px) {
  .mobile-number-input {
    width: auto;
  }
}

.-m-2 {
  margin-right: -0.5rem !important;
  margin-left: -0.5rem !important;
}

#form-container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column: span 2;
}

#current_load {
  width: 10%;
  font-family: "Quicksand", sans-serif !important;

  color: white !important;
}
