* {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
}
body {
  background-color: #dcdcdc;
  font-family: "Quicksand", sans-serif;
}

.bg-main {
  background-color: #30323d !important;
  color: white !important;
}
.shadow-main {
  box-shadow: 0px 0px 27.2px -2px rgba(0, 0, 0, 0.1),
    0px 0px 23.7px -2px rgba(0, 0, 0, 0.07),
    0px 0px 17.7px -2px rgba(0, 0, 0, 0.044),
    0px 0px 13.2px -2px rgba(0, 0, 0, 0.05),
    0px 0px 14.8px -2px rgba(0, 0, 0, 0.056),
    0px 0px 40px -2px rgba(0, 0, 0, 0.03);
}

.btn-main {
  background-color: #e8c547;

  font-weight: 600;
  color: #30323d;
}
.btn-main:hover {
  background-color: #e8c547bf;
  color: #30323d;
}
.btn-second {
  background-color: #262831;

  font-weight: 600;
  color: white;
}
.btn-second:hover {
  background-color: #262831bf;
  color: white;
}

#lr-container {
  width: auto;
}
@media only screen and (max-width: 576px) {
  #login_register {
    padding: 0 0.5rem !important;
  }
  #lr-container {
    width: 100%;
  }
}

.mobile-number-input {
  width: 25%;
}
@media only screen and (max-width: 768px) {
  .mobile-number-input {
    width: auto;
  }
}

.-m-2 {
  margin-right: -0.5rem !important;
  margin-left: -0.5rem !important;
}

#form-container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column: span 2;
}

#current_load {
  font-family: "Quicksand", sans-serif !important;
  color: white !important;
}
#current_load:focus {
  outline: 0;
}
